
.accolades {
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.inner-accolades {
    width: 1300px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
}

.vignan-logo {
    width: 250px;
    height: 100%;

}

.vignan-name {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    color: #4d4d4d;
}
.vignan-accolades {
    width: 310px;
    height: 100%;
}
.navbar {
   color:#fff;
    background: linear-gradient(90deg, rgba(34,206,241,1) 0%, rgba(42,94,145,1) 69%);
    padding:10px 20px;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-logo {
    color: #fff;
    font-size: 24px;
    
    text-decoration: none;
}

.navbar-menu {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    margin-left: 150px;
}
.navbar-item{
    
    margin-left: 24px;
    text-decoration: none;
    font-size: 18px;

}
.navbar-item a{
    color: #fff;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: none;
}
#but{
      background-color:rgb(41, 41, 121);;
      height: 30px;
      width: 180px;
      border-radius: 10px;
      color: white;
      border: 2px  rgb(41, 41, 121);

}
.carousel {
  width:100%;
    margin: 20px auto;
    position: relative;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
}

.slides {
    display: flex;
    animation: slide 12s infinite;
}

.slide {
    min-width: 800px;
    height: 400px;
    background-size: cover;
    background-position: center;
}

.slide1 {
    background-image: url('10.jpeg');
}

.slide2 {
    background-image: url('7.jpg');
}

.slide3 {
    background-image: url('slide3.jpg');
}
.slide4 {
    background-image: url('slide3.jpg');
    min-width:1000px;
}


.navigation {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
}

.navigation label {
    cursor: pointer;
    height: 12px;
    width: 12px;
    margin: 0 6px;
    border-radius: 50%;
    background-color: #999;
    transition: background-color 0.3s ease;
}

#slide1:checked ~ .slides .slide1,
#slide2:checked ~ .slides .slide2,
#slide3:checked ~ .slides .slide3 {
    animation: none;
}

#slide1:checked ~ .navigation label:nth-child(1),
#slide2:checked ~ .navigation label:nth-child(2),
#slide3:checked ~ .navigation label:nth-child(3) {
    background-color: rgb(236, 127, 11);
}

@keyframes slide {
    0% {
        transform: translateX(0);
    }
    33.3333% {
        transform: translateX(-100%);
    }
    66.6666% {
        transform: translateX(-200%);
    }
    100% {
        transform: translateX(0);
    }
}

/* Responsive adjustments */
@media screen and (max-width: 768px) {
    .carousel {
        max-width: 90%;
    }

    .slide {
        height: 300px;
    }
}
.main{
    height: 50px;
    background-color :#44d439;
    color: white;
    text-align: center;
    display: flex;
    margin-top: 10px;

}
.start{
    font-family: sans-serif;
    margin-top: 5px;
    text-align: center;
    margin-left: 25px;
    font-size: 40px;
    margin-right: 20px;
    padding-left: 33%;
    
}
.logo1{
    margin-top :10px; 
    height: 35px;
    width: 35px;
    margin-left: 525px; 
    background: transparent;
}
.logo{
    margin-top :10px; 
    height: 35px;
    width: 35px;
    left: 10px;
}
.ncc {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
}
.mim img{
    width:100%;
    height:600px;
}

.img1{
   
    padding-top: 180px;
    padding-right: 40px;
    padding-left: 40px;

    width: 100px; /* Adjust the size as needed */
    height: 100px; /* Adjust the size as needed */
    border-radius: 28%; /* Creates a circular shape */
    overflow: hidden; 
   
}

.img2{
    width:150px;
    padding-top: 100px;
    height:250px;
    padding-right: 40px;
    padding-left: 40px;
}
.heading{
  
    color: white;
    padding: 0;
    text-align: center;
    font-size: 20px;
    display:flex;
    height: 60px;
    
   
}
.Overview{
    display: flex;
    justify-content: space-between;
    
}
.enroll {
    width: 10%;
    text-align: center;
    padding-top: 120px;
  
  }
.objective{
        width: 800px; /* Fixed width for the container */
        height: 350px; /* Fixed height for the container */
        overflow: auto; /* Use 'scroll' for always showing scrollbars */
        text-align: justify;
        margin-top: 25px;
        font-size: 35px;
        margin-left: 50px;
        margin-right: auto;
        position: relative;
      font-size: 2em;
      margin-bottom: 1em;
      display: inline-block; /* Ensure the background covers the entire width */
   
        background-color:white;
        color: black;
        font-size: 20px;
       
        border-radius: 10px;
        
        
 }
 .three1{
    background-color:white;
    color: black;
    width: 400px;
   
    padding-top: 50px;
    
 }
 .info{
    margin-top: 50px;
 }
 .three a{
    color: black;
   
 }
.span1{
    font-family: "Times New Roman", Times, serif;

}    
.obj{
    margin-right: 100px;
    margin-left: 0px;
    font-family: sans-serif;
}
.for{
    font-family: sans-serif;
    margin-right: 100px;
    margin-left: 0px;
}

.h1 {
    font-size: 35px;
    font-weight: bolder;
    font-family: "Times New Roman", Times, serif;
    font-weight: 700;
    color:black;
    margin-top: 10px;
    margin-left: 10px;
}
.h1 div{
    margin: 0;
      padding: 0;
}
.gallery{
    
    font-size: 20px;
    text-align: center;
    color:black;
    
}


u {
    text-decoration: none; /* Remove default underline */
    position: relative; /* Required for positioning the underline */
    display: inline-block; /* Allows adding padding or margin */
    padding-bottom: 8px; /* Adjust the gap between text and underline */
}

u::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px; /* Adjust the thickness of the underline here */
    background-color: black; /* Adjust the color of the underline here */
}



.gal2{
    margin-left:50px;
}
.one{
    height:250px;
    width: 350px;
}  
.contact{
    text-align: center;
    text-decoration: underline;

}  
.phone{
    background-color: aliceblue;
    border: 2px black;
    border-radius: 10px;
    margin-left: 180px;
    margin-right:180px;
    
}
.ph1{
    display: flex;
}
.pj{
    margin-left: 2px;
    
}
.con{
    margin-left: 80px;

}
.footer{
    height: 150px;
    background-color: rgb(206, 0, 0);
    color: white;
    text-align: center;
    display: flex;
    margin-top: 10px;
    padding:0px;
    margin:0px;

}
.text{
    margin-top: 30px;
    text-align: center;
    margin-left: 25px;
    margin-right: 20px;
    font-size: 25px;
    
}
.left{
    margin-top :40px; 
    height: 65px;
    width: 65px;
    margin-left: 100px; 
    background-color:rgb(223, 8, 8) ;
    background: transparent;
}
.right{
    margin-top :50px; 
    height: 35px;
    width: 100px;
    left: 10px;
    color: #fff;
    background-color:rgb(41, 41, 121);
    border-color:rgb(41, 41, 121);
   border-radius: 10px;
}
button[type="submit"] {
    border-radius: 10px;
    height: 35px;
    width: 100px;
    background-color:rgb(0, 64, 128); /* Set the background color to blue */
    color: white; /* Set the text color to white */
    margin-left: 250px;
    margin-top: 8px;
    cursor: pointer; /* Change cursor to pointer on hover */
}

.foo{
    height: 300px;
    background-color: rgb(0, 64, 128);
    color: white;
    display: flex;
    padding-left:20px;
    display: flex;
}
.fo{
    height: 40px;
    background-color: rgb(0, 38, 77);
    color: white;
    text-align: center;
    display: flex;
    margin-top: 10px;
    padding:0px;
    margin:0px;
}
.scrollbar-images {
    position: fixed;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    gap: 10px;
    z-index: 1;
  }
  
  .scrollbar-images img {
    width: 30px; /* Adjust the image size as needed */
    height: auto;
  }
  
  .tab {
    display: inline-block;
    margin-left: 4em;
}

.top{
margin:0;
}
.act:hover{

    color:rgb(255, 102, 0);

  }
  .act{
    color:white;
    
  }
  .pdf{
    color: white;
  }
  .pdf:hover{
    color: rgb(255, 102, 0);
  }
h5{
    margin-top:8px;
    color:#fff;

}

body,html{
    margin: 0;
    padding: 0;
    
}
.video-container {
    position: relative;
    width: 100%;
    height: 90vh;
overflow: hidden;
  }

  .vvideo {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .overlay-bar {
    width: 30px;
    height: 30px;
    background-color: transparent;
    cursor: pointer;
    position: absolute;
    z-index: 2; /* Bars on top of the video */
    transition: background-color 0.3s;
  }

  .overlay-bar:hover {
    background-color: #3498db; /* Change background color on hover */
  }

  .bar-1 { top: 20px; left: 20px; }
  .bar-2 { top: 20px; left: 60px; }
  .bar-3 { top: 60px; left: 20px; }
  .bar-4 { top: 60px; left: 60px; }

  .text-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.7); /* Semi-transparent white background */
    padding: 10px;
    border-radius: 5px;
    display: none;
    z-index: 1; /* Text overlays below the bars */
  }

  .text-overlay.active {
    display: block;
  }
  #text1{
    background-color: black;
    padding:1em 2em;
    color: white;
    border-radius: 15px;
    opacity: 0.4;

  }
  